<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Anton|Passion+One|PT+Sans+Caption' rel='stylesheet' type='text/css'>
    <link href='css/404.css' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="images/icon.png">
    <!-- Primary Meta Tags -->
    <title>Vaxin Alerts | 404</title>
    <meta name="title" content="Vaxin Alerts | 404">
    <meta name="description" content="Page not found..">
    <meta name="theme-color" content="#0088ff">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://vaxinalerts.in/">
    <meta property="og:title" content="Vaxin Alerts | 404">
    <meta property="og:description" content="Page not found.">
    <meta property="twitter:image" content="images/icon_embed.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://vaxinalerts.in/">
    <meta property="twitter:title" content="Vaxin Alerts | 404">
    <meta property="twitter:description" content="Page not found.">
    <meta property="twitter:image" content="images/icon_embed.png">
</head>
<body>
    <!-- Error Page -->
        <div class="error">
            <div class="container-floud">
                <div class="col-xs-12 ground-color text-center">
                    <div class="container-error-404">
                        <div class="clip"><div class="shadow"><span class="digit thirdDigit" id="1__">4</span></div></div>
                        <div class="clip"><div class="shadow"><span class="digit secondDigit" id="2__">0</span></div></div>
                        <div class="clip"><div class="shadow"><span class="digit firstDigit" id="3__">4</span></div></div>
                        <div class="msg">OH!<span class="triangle"></span></div>
                    </div>
                    <h2 class="h1">Sorry! Page not found</h2>
                    <button type="button" class="btn btn-secondary" onclick="window.open(`index.html`, `_self`)">Return To Home</button>
                    <!-- <h2 class="h1"><a href="./index.html">Return to home</a></h2> -->
                </div>
            </div>
        </div>
    <!-- Error Page -->
</body>
</html>